body
{
    width:100%;
    overflow-x:hidden;
    background:rgb(241, 238, 238);
}
  .dashboard .sidebar 
{
   box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    background:white;
    width:210px;
    height:850px;
    position :relative;
    left:-10px;
    bottom:8px;
}
.dashboard .sidebar .icons
{
display:flex;
flex-direction: column;
width:150px;
padding:10px 40px;
justify-content: space-between;
line-height: 10px;
position:relative;
right:34px;
top:20px;
}
.dashboard .sidebar .icon1
{
background: #000000;
width:205px;
height:50px;
}
.dashboard .sidebar .icon2
{
background:#000000;
width:205px;
height:50px;
align-content: center;
}
.dashboard .sidebar .icon3
{
background: #000000;
width:205px;
height:50px;
}
.dashboard .sidebar .icon4
{
background: #000000;
width:205px;
height:50px;
}
.dashboard .sidebar .icon5
{
background: #000000;
width:205px;
height:50px;
}
.dashboard .sidebar .list
{ color: antiquewhite;
    text-align:center;
    position: relative;
    bottom:30px;
    font-size:12px;
}
.lastitem 
{
    background:rgb(224, 223, 222);
    width:180px;
    height:190px;
    border-radius:10px;
    position: relative;
    top:260px;

justify-content:right;
box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}
.lastitem .icon6
{
    position: relative;
    bottom:40px;
    left:10px;
}
.lastitem .info
{
    text-align: center;
    font-weight: bold;
    font-size:13px;
    position: relative;
    bottom:60px;

}
.lastitem .upgrade
{
background:rgba(62, 122, 116, 0.815);
box-shadow:0px 2px 0.5px grey;
color:white;
height:10px;
width: 130px;
text-align: center;
border-radius: 5px;
font-family:'Times New Roman', Times, serif;
padding-top:10px;
padding-bottom:10px;
font-size:14px;
position: relative;
left:25px;
bottom:60px;
}

.menu
{
    display:flex;
    font-size:10px;
    background: white;
    width:780px;
    position:relative;
    left:220px;
    bottom:860px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.menu .title
{
    position:relative;
    top: 10px;
    left:30px;
    font-family:;
}
.menu .bellicon 
{
    position:relative;
    left:220px;
    bottom:35px;
}
.menu .usericon
{
    position:relative;
    left:250px;
    bottom:30px;
}
.menu .search 
{
    position:relative;
    left :250px;
    top:20px;
}
.menu .searchicon
{
    position:relative;
    right:30px;
    top:10px;
}
.charts
{
position: relative;
left:220px;
bottom:860px;
margin: 20px;
}
.charts .seventy-one
{
    background:white;
    padding:20px;
    border-top: teal;
    border-bottom: maroon;
    border-left: maroon;
    border-right: maroon;
    border-style: solid;
    border-width:8px;
    border-radius: 100%;
    position: relative;
    right: -12px;
    top:50px;
}
.charts .twenty
{
    background:white;
    padding:20px;
    border-top: teal;
    border-bottom: maroon;
    border-left: teal;
    border-right: maroon;
    border-style: solid;
    border-width:8px;
    border-radius: 100%;
    position: relative;
    right: -12px;
    top:50px;
}
.charts .twelve
{
    background:white;
    padding:20px;
    border-top: maroon;
    border-bottom: maroon;
    border-left: maroon;
    border-right: teal;
    border-style: solid;
    border-width:8px;
    border-radius: 100%;
    position: relative;
    right: -12px;
    top:50px;
}
.charts .daily-activities
{
    position:relative;
    left:120px;
    line-height: 7px;
}
.charts .monthly-activities
{
    position:relative;
    left:120px;
    line-height: 7px;

}
.charts .yearly-activities
{
    position:relative;
    left:120px;
    line-height: 7px;
}
.charts .daily
{
    background:white;
    width:230px;
    height:120px;
    position:relative;
    right:20px;
    box-shadow:0 10px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
    
}
.charts .monthly
{
    background: white;
    width:230px;
    height:120px;
    margin:0px 0px 0px 0px;
    position: relative;
    right:-240px;
    bottom:120px;
    box-shadow:0 10px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.charts .yearly
{
    background: white;
    width:230px;
    height:120px;
    position: relative;
    right:-500px;
    bottom:240px;
    box-shadow:0 10px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.table
{
    background:#f8f7f5;
    border-radius:10px;
    position:relative;
    left:220px;
    bottom:1090px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    width:750px;
    height:310px;
}

.table th,td
    {
        text-align:center;
        padding:0px 70px 0px 0px;
        line-height: 30px;
        white-space: nowrap;
    }

    .table th
{
    background: black;
    color:white;
    height:40px;
    width:70%;
}
.last 
{
    background:black;
    width:710px;
    color:white;
   border-radius: 10px;
   padding-left:50px;
   padding-top:3px;
   padding-bottom: 10px;
   position:relative;
   left:215px;
   bottom:1040px;
   height:200px;
}
.last .first-paragraph 
{
font-size:30px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight:bold;
position:relative;
bottom:10px;
}
.last .second-paragraph
{
font-size:12px;
font-family:'Times New Roman', Times, serif ;
position: relative;
bottom:30px;
line-height: 20px;
}
.last .button
{
background: white;
color:crimson;
width:130px;
height:30px;
border-radius:30px;
text-align: center;
font-weight:bold;
padding-top: 12px;
position: relative;
bottom: 20px;
}
.last .female-image
{
position: absolute;
left: 430px;
bottom:0px;
}